.custom_button {
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.8vw 0.4vw;
  width: fit-content;
  white-space: nowrap;
  background: var(--secondary);
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-inline: 2vw;
  font-size: 1vw;
  font-weight: bold;
}
.button {
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.8vw 0.4vw;
  width: fit-content;
  white-space: nowrap;
  background: var(--primary);
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-inline: 2vw;
  font-size: 1.2vw;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .button {
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    width: fit-content;
    white-space: nowrap;
    background: var(--primary);
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-inline: 2vw;
    font-size: 15px;
    font-weight: bold;
  }
}
